<app-header></app-header>
<body>
  <div class="signup-form">
    <form (ngSubmit)="onSubmit()" [formGroup]="signup">
      <h2>Sign Up</h2>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="user.name" formControlName="userid" required>
      
        <span style="color:red" *ngIf="userid && userid.invalid && userid.touched" >Name required</span>
      
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email" formControlName="useremail"required>
        
        <span style="color:red" *ngIf="useremail && useremail.invalid && useremail.touched" >Email required</span>
    
      
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password" formControlName="userpassword" required>
      
        <span style="color:red" *ngIf="userpassword && userpassword.invalid && userpassword.touched" >Size cannot exceed 20 characters</span>
      

      </div>
      <button type="submit" [disabled]="signup.invalid" class="btn btn-primary btn-block">Sign Up</button>
    </form>
    <p>{{response}}</p>
  </div>
</body>

